@media (max-width: 890px) {
    .sm-hidden {
        display: none !important;
      }
}

.responsive-font {
    --rate: 2;
    font-size: calc(var(--fontsize) + var(--rate) * (1vw - 7.78px));
}

.alert-badge-width {
    --rate-width: 10;
    width: calc(100px + var(--rate-width) * (1vw - 7.78px));
}

@media (min-width: 778px) {
    .responsive-font {
        font-size: var(--fontsize);
    }
    .alert-badge-width {
        width: 100px;
    }
}

.div-scan {
    text-align: center;
    background: #cecece;
    width: 600px
}

.div-scan0 {
    
}

.grey-control-scan {
    background-color: #cecece
}

.grey-control-scan {
    background-color: #cecece
}


.form-control {
    width: 400px;
}

.form-on-button {
    position: absolute;
    width: 24%;
    font-size: 0.8rem;
    right: 0.8%;
    bottom: 7%
}

.alert-badge-app {
    border-radius: calc(.5rem - 0.3vw);
    font-weight: 400;
    color: white;
}

.alert-bottom-app {
    background-color: unset;
    border-color: white;
    color: black;
}

.alert-transition-app {
    text-align: left;
    padding-left: 1rem;
}
.alert-header-app {
    background-color: 1px solid rgba(0,0,0,.25)
}

.alert-main-div-app {
    border-bottom: 1.2px solid;
}

.btn-app {
    background: rgba(228, 72, 35);
    border-color: rgba(228, 72, 35);
}

.btn-app:hover {
    background: rgba(228, 72, 35);
    border-color: rgba(228, 72, 35);
}