:root {
  --primary-color: #e53935;
  --grey-color: #7a7a7a;
}

* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

/* @media (min-width: 778px) {
  .responsive-font {
    font-size: var(--fontsize);
  }
  .alert-badge-width {
    width: 100px;
  }
}

@media (max-width: 890px) {
  .sm-hidden {
    display: none !important;
  }
} */

.responsive-font {
  --rate: 2;
  font-size: calc(var(--fontsize) + var(--rate) * (1vw - 7.78px));
}

.alert-badge-width {
  --rate-width: 10;
  width: calc(100px + var(--rate-width) * (1vw - 7.78px));
}

/* scan page */
.div-scan {
  text-align: center;
  /* background: var(--grey-color); */
  /* width: 600px; */
}

.severity-badge {
  height: 150px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  font-size: 24px;
}

.badge-danger {
  background-color: #e53935;
  color: white;
}

.badge-warning {
  background-color: #ffba69;
  color: white;
}

.badge-info {
  background-color: #59aee6;
  color: white;
}

.grey-control-scan {
  background-color: #cecece;
}

.scan-btn {
  background-color: var(--primary-color);
  width: 147px;
  height: 55px;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: 0;
}

.scan-btn:hover,
.scan-btn:focus {
  background-color: var(--grey-color);
  border: 0 white;
  box-shadow: none !important;
}

button:active {
  background-color: var(--primary-color);
}

.scan-input {
  width: 709px;
  height: 61px;

  background: #ffffff;
  border-radius: 30px;
}

.scan-div {
  display: flex;
  align-items: center;
}

.scan-label {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.form-on-button {
  position: absolute;
  width: 24%;
  font-size: 12px;
  right: 0.6%;
  bottom: 7.3%;
}

.collapse {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  min-height: 58px;
  margin: 0 10px;
}

.alert-badge-app {
  border-radius: calc(0.5rem - 0.3vw);
  font-weight: 400;
  color: white;
}

.alert-bottom-app {
  background-color: unset;
  border-color: white;
  color: black;
}

.alert-transition-app {
  text-align: left;
  padding-left: 1rem;
}
.alert-header-app {
  background-color: 1px solid rgba(0, 0, 0, 0.25);
}

.alert-main-div-app {
  border-bottom: 1.2px solid;
}

.btn-app {
  background: rgba(228, 72, 35);
  border-color: rgba(228, 72, 35);
}

.btn-app:hover {
  background: rgba(228, 72, 35);
  border-color: rgba(228, 72, 35);
}

.export {
  --grey-color: #7a7a7a;
  width: 90%;
}

/* Reflected cross site scripting */

.export h1 {
  /* Reflected cross site scripting */

  /* position: absolute; */
  width: 607px;
  height: 56px;
  left: 93px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  color: var(--primary-color);
}

.export.html.h1 {
  --rate: 2;
  font-size: calc(34px + var(--rate) * (1vw - 7.78px));
  line-height: 56px;
}

.export.print h1 {
  font-size: 34.8px;
  line-height: 32px;
}

.export #button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* High */
.export #severity {
  /* position: absolute; */
  /* left: 157px; */
  /* top: 298px; */
  margin-right: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: var(--primary-color);
  color: #ffffff;

  font-size: 36px;
}

.export.html #severity {
  --rate-width: 2.5;
  width: calc(140px + var(--rate-width) * (1vw - 7.78px));
  height: calc(52px + var(--rate-width) * (1vw - 7.78px));
  line-height: 42px;
}

.export.print #severity {
  width: 142px;
  height: 54px;
  line-height: 42px;
}

.export #severity {
  align-content: center;
  align-items: center;
}

.export.html section {
  --rate: 2;
  margin: auto calc(29px + var(--rate) * (1vw - 7.78px)) !important;
}

.export.print section {
  margin: auto 0px;
}

.export h2 {
  font-weight: 500;
  
}

.export.html h2 {
  --rate: 2;
  font-size: calc(29px + var(--rate) * (1vw - 7.78px));
  line-height: 56px;
}

.export.print h2 {
  font-size: 30px;
  line-height: 20px;
}

.export p {
  color: #000000;
}

.export.html p {
  --rate: 2;
  font-size: calc(15px + var(--rate) * (1vw - 7.78px));
}

.export.print p {
  font-size: 15.85px;
  line-height: 1.2;
}

.export a {
  color: #000000;
}

.export.html a {
  --rate: 2;
  font-size: calc(15px + var(--rate) * (1vw - 7.78px)) !important;
  line-height: 28px;
}

.export.print a {
  font-size: 15.85px;
  line-height: 18px;
}

.export #how {
  margin-left: 40px;
}

.export table {
  width: 900px;
  justify-content: space-between;
}

.export tbody {
  display: flex;
  flex-wrap: wrap;
}

.export tr {
  display: flex;
  flex-direction: column;
  /* padding-right: 30px; */
}

.export tr:nth-child(3) {
  padding-left: 60px;
}

.export tr:nth-child(even) p {
  color: var(--grey-color);
}

.export td {
  display: flex;
  /* max-width: 500px; */
}

.export.html td {
  height: 60px;
}

.export.print td {
  height: 50px;
}

.export td p {
  padding-right: 20px;
}

.export hr {
  border: 1px solid #000000;
}

/* Dashbaord */
/* shadowOffset: {
      width: 0,
      height: 1,
  },
  shadowOpacity: 0.22,
  shadowRadius: 2.22,
  
  elevation: 3, */

/* background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 8px #000;
  border-radius: 11px;
  opacity: 1; */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 250px;
  border: 0;

  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 1px; */
}

.dashboard-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  width: 800px;
  height: 350px;
}

.right {
  width: 350px;
  height: 350px;
}

.nav-style {
  font-size: 36px;
  line-height: 42px;
}

.login-btn {
  /* position: absolute; */
  width: 387px;
  height: 82px;
  /* left: 748px;
  top: 482px; */

  background: #e44923;
  border-radius: 10px;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  border: 0;
}

.login-btn:hover {
  background: #e86028;
  border: 0;
}

.login-btn:active {
  background: #e86028;
  border: 0;
}

.login-label {
  margin-right: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* .export-btn-div {
  width: 136px;
  height: 41px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
}

.export-btn {
  cursor: pointer;
  width: 76.75px;
  height: 28px;

  font-size: 24px;
  line-height: 28px;

  color: #000000;
  background-color: white;
  border: 0 white;
}

.export-btn:hover {
  color: #000000;
  background-color: white;
  border: 0 white;
} */

.target-list-table {
  border: 0px;
}

thead tr {
  vertical-align: middle;
  text-align: center;
}

.table th,
.table td {
  border: 0;
  text-align: center;
}

.table thead th {
  text-align: center;
}

/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
} */

.table-bordered th,
.table-bordered td {
  border: 0px;
}
.table th,
.table td {
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(0, 0, 0, 0);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgb(0, 0, 0, 0);
}

.table thead th,
.table-bordered {
  border: 0;
}

.table thead th {
  font-size: 24px;
  line-height: 42px;
}
