:root {
  --primary-color: #e53935;
  --grey-color: #7a7a7a;
}

@media (max-width: 890px) {
  .sm-hidden {
    display: none !important;
  }
}

.responsive-font {
  --rate: 2;
  font-size: calc(var(--fontsize) + var(--rate) * (1vw - 7.78px));
}

.alert-badge-width {
  --rate-width: 10;
  width: calc(100px + var(--rate-width) * (1vw - 7.78px));
}

@media (min-width: 778px) {
  .responsive-font {
    font-size: var(--fontsize);
  }
  .alert-badge-width {
    width: 100px;
  }
}

/* scan page */
.div-scan {
  text-align: center;
  /* background: var(--grey-color); */
  /* width: 600px; */
}

.severity-badge {
  height: 130px;
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  font-size: 15px;
}

.grey-control-scan {
  background-color: #cecece;
}

.scan-btn {
  background-color: var(--primary-color);
  width: 147px;
  height: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.scan-btn:hover {
  background-color: var(--primary-color);
}

.scan-input {
  width: 709px;
  height: 61px;

  background: #ffffff;
  border-radius: 30px;
}

.scan-div {
  display: flex;
  align-items: center;
}

.scan-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.form-on-button {
  position: absolute;
  width: 24%;
  font-size: 12px;
  right: 0.6%;
  bottom: 7.3%;
}

.collapse {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: 58px;
  margin: 0 10px;
}

.alert-badge-app {
  border-radius: calc(0.5rem - 0.3vw);
  font-weight: 400;
  color: white;
}

.alert-bottom-app {
  background-color: unset;
  border-color: white;
  color: black;
}

.alert-transition-app {
  text-align: left;
  padding-left: 1rem;
}
.alert-header-app {
  background-color: 1px solid rgba(0, 0, 0, 0.25);
}

.alert-main-div-app {
  border-bottom: 1.2px solid;
}

.btn-app {
  background: rgba(228, 72, 35);
  border-color: rgba(228, 72, 35);
}

.btn-app:hover {
  background: rgba(228, 72, 35);
  border-color: rgba(228, 72, 35);
}

* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.export {
  --grey-color: #7a7a7a;
}

.export p {
  /* font-size: 36px;
  line-height: 42px; */
}
/* Reflected cross site scripting */

.export h1 {
  /* Reflected cross site scripting */

  /* position: absolute; */
  width: 607px;
  height: 56px;
  left: 93px;
  top: 198px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;

  color: var(--primary-color);
}

.export #button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* High */
.export #severity {
  /* position: absolute; */
  width: 203px;
  height: 61px;

  /* left: 157px; */
  /* top: 298px; */
  margin-right: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: var(--primary-color);
  color: #ffffff;

  font-size: 36px;
  line-height: 42px;
}

.export #severity {
  align-content: center;
  align-items: center;
}

.export section {
  margin: auto 65px;
}

.export h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 56px;
}

.export p {
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.export a {
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.export text {
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.export pre {
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.export #how {
  margin-left: 40px;
}

.export table {
  width: 900px;
  justify-content: space-between;
}

.export tbody {
  display: flex;
  flex-wrap: wrap;
}

.export tr {
  display: flex;
  flex-direction: column;
  /* padding-right: 30px; */
}

.export tr:nth-child(3) {
  padding-left: 60px;
}

.export tr:nth-child(even) p {
  color: var(--grey-color);
}

.export td {
  display: flex;
  height: 60px;
  /* max-width: 500px; */
}

.export td p {
  padding-right: 20px;
}

.export hr {
  border: 1px solid #000000;
}

/* Dashbaord */
.card {
  /* shadowOffset: {
      width: 0,
      height: 1,
  },
  shadowOpacity: 0.22,
  shadowRadius: 2.22,
  
  elevation: 3, */

  width: 300px;
  height: 250px;
  /* background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 8px #000;
  border-radius: 11px;
  opacity: 1; */

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  width: 800px;
  height: 350px;
}

.right {
  width: 350px;
  height: 350px;
}
