* {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  
  :root {
    --primary-color: #e53935;
    --grey-color: #7a7a7a;
  }
  
  p {
    /* font-size: 36px;
    line-height: 42px; */
  }
  /* Reflected cross site scripting */
  h1 {
    /* Reflected cross site scripting */
  
    /* position: absolute; */
    width: 607px;
    height: 56px;
    left: 93px;
    top: 198px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
  
    color: #e53935;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* High */
  #severity {
    /* position: absolute; */
    width: 203px;
    height: 61px;
  
    /* left: 157px; */
    /* top: 298px; */
    margin-right: 40px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: var(--primary-color);
    color: #ffffff;
  
    font-size: 36px;
    line-height: 42px;
  }
  
  .severity-box {
    align-content: center;
    align-items: center;
  }
  
  section {
    margin: auto 65px;
  }
  
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 56px;
  }
  
  p,
  pre {
    font-size: 24px;
    line-height: 28px;
  
    color: #000000;
  }
  
  table {
    width: 900px;
    justify-content: space-between;
  }
  
  tbody {
    display: flex;
    flex-wrap: wrap;
  }
  
  tr {
    display: flex;
    flex-direction: column;
    /* padding-right: 30px; */
  }
  
  tr:nth-child(3) {
    padding-left: 60px;
  }
  
  tr:nth-child(even) p {
    color: var(--grey-color);
  }
  
  td {
    display: flex;
    height: 60px;
    /* max-width: 500px; */
  }
  
  td p {
    padding-right: 20px;
  }
  
  hr {
    border: 1px solid #000000;
  }